/* Google Font - Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0px auto;
    max-width: 1440px;
    padding: 0;
}

/* navigation bar */

nav {
    width: 1170px;
    margin: 30px 128px 0px;
    width: 1158px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.travel-logo {
    align-items: center;
    display: flex;
    gap: 1 rem;
}

.logo {
    width: 48px;
    height: 56px;
}

.text {
    color: #FF5400;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
}

.optional-bar {
    display: flex;
    gap: 44px;
    list-style: none;
    color: #424247;
    font-size: 18px;
}

.home {
    color: #FF5400;
    font-weight: 700;
}

.Trip {
    color: #131318;
}